/* components/TestimonialSlider.module.css */
.sliderContainer {
    position: relative;
    width: 300px;
    height: 200px;
    overflow: hidden;
  }
  
  .testimonial {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
  }
  
  .dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
  }
  
  .dot.active {
    width: 15px; /* Active dot width */
  }
  
  .dot:hover {
    background-color: #717171; /* Hover effect */
  }
  