@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "OutfitBold";
  src: url("/fonts/Outfit-Regular.otf") format("truetype");
}

@font-face {
  font-family: "OutfitRegulaer";
  src: url("/fonts/Outfit-Light.otf") format("truetype");
}

a {
  color: inherit;
  text-decoration: none;
  font-family: OutfitRegulaer;
}
span,
p,
button,
label,
div {
  font-family: OutfitRegulaer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: OutfitBold;
}
.react-tel-input .form-control {
  width: 100% !important;
  padding: 10px 2px 10px 43px !important;
  height: auto !important;
  border-radius: 0px !important;
}

.primary {
  background: #f3fbfb;
}
.css-13cymwt-control {
  border-radius: 0 !important;
  outline: none !important;
  padding-top: 3.5px !important;
  padding-bottom: 3.5px !important;
  border-color: #f0eded !important;
}

.css-t3ipsp-control {
  border-radius: 0 !important;
  outline: none !important;
  padding-top: 3.5px !important;
  padding-bottom: 3.5px !important;
  border: 0.3px solid #f0eded !important;
  border-color: #f0eded !important;
  box-shadow: none !important;
}

.border,
/* .border-r,
.border-l,
.border-x,
.border-b,
.border-t,
.border-y {
  border: 0.3px solid #f0eded !important;
} */
.react-tel-input .form-control {
  border: 0.3px solid #f0eded !important;
}
.react-tel-input .flag-dropdown {
  background-color: #fff !important;
  border: 1px solid #f0eded !important;
  border-radius: 0px 0 0 0px !important;
}

.select-input{
  background-color: #28b934 !important;
}
