name: Build and Deploy

on:
  push:
    branches:
      - dev
      - staging

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker
        uses: docker/setup-buildx-action@v1

      - name: Login to Docker
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ secrets.CI_REGISTRY_USER }}
          password: ${{ secrets.CI_REGISTRY_PASSWORD }}

      - name: Build and push Docker images
        run: |
          docker compose -f docker-compose-build.yml build
          docker compose -f docker-compose-build.yml push

      - name: Create version file
        run: |
          version="${GITHUB_REF_SLUG}_$(date +"%Y%m%dT%H%M%S")"
          mkdir version_tmp
          echo $version > version_tmp/version.txt

      - name: Upload version file
        uses: actions/upload-artifact@v2
        with:
          name: version
          path: version_tmp/version.txt

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Install curl
        run: sudo apt-get update && sudo apt-get install -y curl

      - name: Trigger webhook
        run: curl -X POST "${{ secrets.WEBHOOK }}"
